.about{
  margin-bottom: 50px;
  padding-top: 50px;
}

.about-content{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-image{
  width: 40%;
  position: relative;
}

.about-image__wrapper{
  top: 100px;
  left: 100px;
  height: 300px;
  width: 300px;
  position: sticky;
  border-radius: 50%;
  overflow: hidden;
}

.about-image__wrapper img{
  position: relative;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.about-body{
  width: 60%;
  padding-right: 30px;
}

@media screen and (max-width: 900px) {
  .about-body{
    padding-right: 0;
  }
}

.about-body div {
  padding-right: 30px;
  margin-bottom: 20px;
}

.about-info{
  padding-bottom: 20px;
  border-bottom: 1px solid var(--main-color);
}

.about-body div h3{
  margin: 0 0 0 0;
  padding-left: 40px;
  position: relative;
  color: var(--main-color);;
}

.about-body div h3::before{
  content: '';
  position: absolute;
  left: 0;
  top: 49%;
  height: 2%;
  width: 30px;
  background: var(--main-color);;
}

.about-info p{
  margin: 15px 0 0 0;
  line-height: 1.6;
  font-size: 18px;
}

.about-certificates div{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-certificates div img{
  width: 180px;
}

.about-certificates div img:nth-child(3){
  width: 270px;
}

.about-certificates div img:nth-child(1){
  margin-right: 35px;
}

.about-education div{
  margin-top: 20px;
}

.about-education div img{
  width: 100px;
  margin-right: 30px;
}

@media screen and (max-width: 1150px) {
  .about-image__wrapper{
    position: relative;
    left: 0;
    top: 0;
  }

  .about-image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .about-body{
    width: 100%;
    padding-right: 0px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .about-certificates div{
    padding-right: 0;
  }

  .about-certificates div img{
    width: 150px;
  }
    
  .about-certificates div img:nth-child(1){
    margin-right: 30px;
  }
  
  .about-certificates div img:nth-child(3){
    width: 230px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .about-certificates div{
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-certificates div img{
    width: 240px;
    margin-top: 15px;
  }

  .about-certificates div img:nth-child(2){
    width: 250px;
  }

  .about-certificates div img:nth-child(3){
    width: 280px;
    height: 150px;
  }

  .about-education div{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .about-education div img{
    margin-right: 0px;
    margin-top: 30px;
  }
}
