.service-info__title{
    font-size: 20px;
    color: var(--main-color);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.service-info__text{
    line-height: 1.6;
    margin-bottom: 0;
}

.service-info__btn{
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 1150px) {
    .services-container{
        width: 90%;
    }
}