.btn{
  padding: 15px 40px;
  font-weight: 600;
  background: var(--main-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

@media screen and (max-width: 600px) {
  .btn{
    padding: 12px 30px;
    font-size: 13px;
  }
}